nav.navbar.navbar-expand-sm.navbar-dark.fixed-top
  .container-fluid
    a.navbar-brand(href="#") IU
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#TEST" aria-controls="TEST" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    #TEST.collapse.navbar-collapse
      ul.navbar-nav.mb-2.mb-lg-0
        li.nav-item
          a.nav-link.active(href="#" aria-current="page") Home
        li.nav-item
          a.nav-link(href="#intro") Intro
        li.nav-item
          a.nav-link(href="#album") Album
        li.nav-item
          a.nav-link(href="#album_official") 正規專輯
        li.nav-item
          a.nav-link(href="#album_mini") 迷你專輯
      ul.navbar-nav.mb-2.mb-lg-0.ms-auto.me-4
        li.nav-item
          a.nav-link(href="https://www.instagram.com/dlwlrma/" target="_blenk")
            i.fa-brands.fa-instagram.fa-xl.fa-fw
        li.nav-item
          a.nav-link(href="https://www.facebook.com/iu.loen" target="_blenk")
            i.fa-brands.fa-facebook.fa-xl.fa-fw
        li.nav-item
          a.nav-link(href="https://mobile.twitter.com/_IUofficial" target="_blenk")
            i.fa-brands.fa-twitter.fa-xl.fa-fw
header
  .header_title
    h1(
      data-0="transform: translateY(0px); opacity: 1"
      data-500="transform: translateY(100px); opacity: 0"
      ) IU Story
    h4(
      data-0="transform: translateY(0px); opacity: 1"
      data-500="transform: translateY(100px); opacity: 0"
      ) All about IU
      

section#intro
  .container-fluid
    .row
      .intro_title.col-md-6.col-sm-12.d-flex.align-items-start.justify-content-center.flex-column
        h4(
      data-400="transform: translateY(0px); opacity: 1"
      data-800="transform: translateY(100px); opacity: 0"
      ) 李知恩（이지은，1993年5月16日）
        h4(
      data-400="transform: translateY(0px); opacity: 1"
      data-800="transform: translateY(100px); opacity: 0"
      ) 藝名IU（韓語：아이유 A I Yu ）
        h4(
      data-400="transform: translateY(0px); opacity: 1"
      data-800="transform: translateY(100px); opacity: 0"
      ) 韓國創作歌手、演員
      .picture.col-md-6.col-sm-12.d-flex.align-items-start.justify-content-end
        .pic_container
          img(src="https://i.imgur.com/icQXmVS.jpg")

section#photo
  .container


section#album
  .album_official.container
    h2 Album
    h4#album_official 正規專輯
    .album_list.d-flex.flex-wrap.justify-content-center.align-items-start
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://i.imgur.com/bJWrbGH.jpg")
        .card-body
          h5.card-title LILAC
          p.card-text 發行：2021年3月25日<br/>唱片公司：EDAM<br/>形式：CD、數字下載

      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://i.imgur.com/Xf5W4wY.jpg")
        .card-body
          h5.card-title Palette
          p.card-text 發行：2017年4月21日<br/>唱片公司：Fave娛樂<br/>形式：CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://i.imgur.com/h8NuWCS.jpg")
        .card-body
          h5.card-title Modern Times
          p.card-text 再版：2013年12月20日<br/>唱片公司：LOEN Tree<br/>形式：CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://i.imgur.com/kteL3JH.jpg")
        .card-body
          h5.card-title Last Fantasy
          p.card-text 發行：2011年11月29日<br/>唱片公司：LOEN娛樂<br/>形式：CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://i.imgur.com/fFqw7oM.jpg")
        .card-body
          h5.card-title Growing Up
          p.card-text 發行：2009年4月23日<br/>唱片公司：LOEN娛樂<b>形式：CD、數字下載
  .album_mini.container
    h4#album_mini 迷你專輯
    .album_list.d-flex.flex-wrap.justify-content-center.align-items-start
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://i.imgur.com/V9QhtvK.jpg")
        .card-body
          h5.card-title 碎片集
          p.card-text 發行：2021年12月29日<br/>唱片公司：EDAM<br/>形式：數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://i.imgur.com/YLlqxAo.png")
        .card-body
          h5.card-title Love poem
          p.card-text 發行：2019年11月18日<br/>唱片公司：Kakao M<br/>形式：CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://imgur.com/qmDphlG.jpg")
        .card-body
          h5.card-title CHAT-SHIRE
          p.card-text 發行：2015年10月23日<br/>唱片公司：LOEN Tree<br/>形式：CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://imgur.com/t5JhXRD.jpg")
        .card-body
          h5.card-title 二十歲的春天
          p.card-text 發行：2012年5月11日<br/>唱片公司：LOEN娛樂<br/>形式：單曲CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://imgur.com/x1pavVs.jpg")
        .card-body
          h5.card-title Real+
          p.card-text 發行：2011年2月17日<br/>唱片公司：LOEN娛樂<br/>形式：單曲CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://imgur.com/McBb6Ot.jpg")
        .card-body
          h5.card-title Real
          p.card-text 發行：2010年12月9日<br/>唱片公司：LOEN娛樂<br/>形式：CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://imgur.com/GFLxZ4y.jpg")
        .card-body
          h5.card-title IU...IM
          p.card-text 發行：2009年11月12日<br/>唱片公司：LOEN娛樂<br/>形式：CD、數字下載
      .card(
          data-bottom-top="opacity: 0; transform: translateY(-50px)"
          data-center="opacity: 1; transform: translateY(0px)"
          )
        img.card-img-top(src="https://imgur.com/KGv2rUM.jpg")
        .card-body
          h5.card-title Lost and Found
          p.card-text 發行：2008年9月23日<br/>唱片公司：LOEN娛樂<br/>形式：CD、數字下載
footer
  .title_footer
    h1 IU Story
    h4 All about IU